# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:IncludeMiners=true
    S:OnMorningText=Good fucking morning everyone! We hope you'll join us again tonight...
    S:OnSleepText=has joined the Bed Orgy.
    S:OnWakeText=fled the Bed Orgy.
    I:SleeperPerc=50
}


